:root{
--backround:rgb(221, 148, 53);
--text: rgb(90, 7, 138);
}
*{
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
body{
    display:flex;
    flex-direction: column;
    background-color: var(--backround);
}
header{
    display:flex;
    justify-content: space-between;
    height:100%;
    padding:5px;
    position:sticky;
    margin-bottom:20px;
    background-color: var(--backround);
}
header h1{
    font-size: 2rem;
    font-weight: bold;
    color:var(--text);
    margin:0;
}
nav{
    margin:auto 0;
}
nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
 nav ul li{
    font-size: 20px;
    color:var(--text);
}
nav li a{
    padding:10px 15px;
    text-decoration: none;
    color:var(--text);
    border-radius:15px;
}
nav  li  a:hover,
nav  li  a:focus {
    text-decoration: none;
    background-color: #eb8500;
}
.backround{
    height:800px;
    width:100%;
    background-image:url("../images/background\ photo.jpg");
    margin-bottom:20px;
    margin-top: 20px;
    background-size: cover;
    background-position: center;
}
.backround p{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    color:var(--text);
    padding-top: 700px;
    font-size: 40px;
    text-align: center;
}
.AM{
    display:flex;
    padding: 20px;
    font-size:25px;
    color:var(--text);
}
.AM h2{
    font-size: 40px;
    padding-right:20px;
}
.AM p{
    padding-left:15px;
    padding-right:10px;
    border-left:var(--text);
    border-left:solid;
}
.AM:hover,
.AM:focus #About-me{
    font-size: 65px;
    padding-left:40px;
    padding-right:30px;
    transition: 3s;
    align-items: center;
}
.AM:hover,
.AM:focus #txt{
    font-size: 30px;
}
#My-work{
    font-size: 40px;
    display:flex;
    color:var(--text);
    padding:20px;
    border-right:solid;
    border-color:var(--text);
    inline-size:160px
}
.workblock{
    display:inline-flex;
    flex-direction: row;
    flex-wrap:wrap;
    border-radius:15px;
    border:var(--text);
    padding: 20px;
    block-size: 200px;
}