:root {
    --backround: rgb(53, 162, 159);
    --text: rgb(7, 25, 82);
}

* {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--backround);
}

header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 15px;
    background-color: var(--backround);
    z-index: 1;
}

header h1 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--text);
    margin: 0;
}

nav {
    margin: auto 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav ul li {
    font-size: 20px;
    color: var(--text);
}

nav li a {
    padding: 10px 15px;
    text-decoration: none;
    color: var(--text);
    border-radius: 15px;
}

nav li a:hover,
nav li a:focus {
    text-decoration: none;
    background-color: #eb8500;
}

.backround {
    height: 800px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    background-image: url("../images/tec.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.backround p {
    display: flex;
    flex:auto;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    color: var(--text);
    padding-top: 700px;
    font-size: 40px;
    text-align: center;
    padding-bottom: 60px;
}
#mephoto{
    display:flex;
    flex:auto;
    position: absolute;
    background-size:cover;
    background-position: center top;
    width:20%;
    height:36%;
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
    border-color: var(--text);
    background-image:url("../images/me.JPG");
    right:100px;
    top:200px
}
br {
    line-height: 150%;
 }

.AM {
    display: flex;
    padding: 40px 20px 20px 20px;
    font-size: 25px;
    color: var(--text);
    margin-bottom:100px;
}

.AM h2 {
    font-size: 40px;
    padding-right: 20px;
    text-align:center;
}

.AM p {
    padding-left: 15px;
    padding-right: 10px;
    border-left: var(--text);
    border-left: solid;
}

.AM:hover,
.AM:focus #About-me {
    font-size: 65px;
    padding-left: 40px;
    padding-right: 30px;
    transition: 3s;
    align-items: center;
}

.AM:hover,
.AM:focus #txt {
    font-size: 30px;
}

.sec3 {
    display: flex;
}

#My-work {
    font-size: 40px;
    display: flex;
    color: var(--text);
    padding: 28.5px;
    border-right: solid;
    border-color: var(--text);
    inline-size: 160px;
    text-align:center;
}
.workblock {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 15px;
    border-color: var(--text);
    padding: 20px;
    block-size: 200px;
    border-style: solid;
    width: 400px;
    margin: 15px;
    inline-size: 500px;
    background-image: url("../images/coutiontape.JPG");
    background-color:gray;
    background-blend-mode: darken;
}
.workblock p{
    display:flex;
    justify-content: center;
    color:rgb(184, 176, 176);
    align-items: center;
    background-color: rgb(2, 23, 63);
    font-size: 15px;
    height: 50px;
    width:200px;
    position: absolute;
    margin: -20px 0px 0px 120px;
}
.workblock:hover,
.workblock:focus{
    background-color:transparent;
    transition: 1.5s;
    width:525px;

}
.contact {
    display: flex;
    padding: 20px;
    font-size: 25px;
    color: var(--text);
    margin-top:100px;
}
.project1{
    background-image: url('../images/treefinder.JPG'); 
    background-repeat: no-repeat;
    background-position: top;
}
.project1 p{
color: rgb(12, 172, 12);
}
.characraft {
    background-image: url("../images/characraft.JPG");
}
.characraft p {
    color: rgb(216, 216, 16);
}

.contact ul {
    list-style-type: none;
}

.contact h4 {
    font-size: 30px;
    padding-right: 20px;
    border-right: var(--text);
    border-right: solid;
    inline-size: 139.5px;
    text-align:center;
}
.contact ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.contact ul li a {
    padding: 10px 15px;
    text-decoration: none;
    color: var(--text);
    border-radius: 15px;
}

.ft:hover,
.ft:focus{
    text-decoration: none;
    background-color: rgb(11, 102, 106);
    font-size: 35px;
    transition: 2s;
}
footer{
    margin: 100px 0px;
    font-size: 35px;
    color: var(--text);
    justify-content: center;
    text-align: center;
}
@media screen and (max-width: 1000px){
    .backround p{
        padding-top: 600px;
    }
    #mephoto{
        height: 32%;
        width:25%
    }
}
@media screen and (max-width: 658px){
    nav li a{
        font-size: 15px;
    }
    #mephoto{
        height: 32%;
        width:30%;
        right:30px;
    }
}
@media screen and (max-width: 590px){
    nav li a{
        font-size: 10px;
        text-align: center;
    }
    #mephoto{
        height: 32%;
        width:30%;
        right:-170px;
    }
}
